# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
!cq/data/provider/stockdb/*.pyd


# Project specific
/data/
test_*data*/
/logs/
/tdx_data/

.env
.env.local
config/config.yaml


# Testing & Coverage
.coverage
.coverage.*
htmlcov/
.pytest_cache/

# Virtual Environment & Build
.venv/
*.egg-info/
dist/
build/
cqdata/static/
web/dist/
web/node_modules/
